<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                title: "Update",
                position: {
                    my: "center", at: "center", of: window
                },
                width: 500
            });
        });
    </script>

    <style>
        .LoadingDiv {
            top: 0;
            left: 0;
            position: fixed;
            opacity: 0.97;
            z-index: 10000000;
            background: Black;
            height: 100%;
            width: 100%;
            margin: auto;
        }

        .toast-center-center {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .red_border {
            border: 1px solid #e46262;
        }

        .red_text {
            color: #e46262;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Add a contact", "AddAContact", "Home")</li>
                    <li>@Html.ActionLink("View all contacts", "ViewAllData", "Home")</li>
                    <li>@Html.ActionLink("Update all contacts", "UpdateAllData", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Code Challenge V4</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">

        $(document).ready(function () {
            var bootstrapButton = $.fn.button.noConflict()
            $.fn.bootstrapBtn = bootstrapButton;
        })

    </script>
</body >
</html >
